@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2)
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2)
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
  }
}