@mixin skill-percentage($percentage, $color) {
    padding: 2px 2px;
    border-radius: 5px;
    height: 10px;
    width: 70%;
    background: -webkit-linear-gradient(left, $color $percentage, #ffffff $percentage);
    background: -moz-linear-gradient(left, $color $percentage, #ffffff $percentage);
    background: -ms-linear-gradient(left, $color $percentage, #ffffff $percentage);
    background: -o-linear-gradient(left, $color $percentage, #ffffff $percentage);
    background: linear-gradient(to right, $color $percentage, #ffffff $percentage);
}

$g_start: $marine;
$g_end: $taxi;
$g_pctg_start: 5%;
$g_pctg_end: 90%;
$g_deg: 0deg;
$gradient :
#536976,
#292e49;
html {
    font-size: 16px;
}

body {
    text-shadow: 1px 0px 5px #565656;
    font-family: 'Roboto Condensed' !important; // background-color: $totheligth;
    color: white;
    background-color: #282a36;
    background: -webkit-linear-gradient($g_deg, $gradient);
    background: -ms-linear-gradient($g_deg, $gradient);
    background: -o-linear-gradient($g_deg, $gradient);
    background: linear-gradient($g_deg, $gradient); // background: linear-gradient(35deg, #42afe2, #2082dd);
}

.cover {
    position: relative;
    height: 100vh;
    background-color: $cloudy;
    background-image: url('../images/forward_bg_mobile.png');
    background-size: cover, auto;
    background-position-x: 50%;
    background-attachment: fixed;
    text-shadow: 2px 2px 5px #282a36;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    font-family: 'Sedgwick Ave';
    .cover-title {
        h1 {
            font-size: 3rem;
        }
        position: absolute;
        top: 40%;
        left: 50%;
        z-index: 10;
        transform: translate(-50%,
        -50%);
    }
    .cover-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: $tothelight;
        opacity: 0.7;
        z-index: 1;
    }
    #atname {
        color: $skyblue;
    }
    #cover-more-info {
        font-size: 1.5rem;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 10;
        bottom: 10%;
        color: #fff;
    }
    .profession {
        font-size: 2.5rem;
    }
}

#cover-arrow {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px; // border-radius: 50%;
    // border: 2px solid white;
    text-align: center;
    i {
        -webkit-animation: pulsate 1.5s ease;
        animation: pulsate 1.5s ease;
        animation-iteration-count: infinite;
        font-size: 14px;
        top: 5px;
    }
}

.about {
    background-color: white;
    height: 500px;
}

.content {
    margin-top: 64px;
}

.workplace-description {
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
}

.workplace-logo {
    overflow: hidden;
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: white;
    background-image: url('../images/logo_BABEL_PNG.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 10px;
}

.section-heading {
    text-align: center;
}

.section-content {
    margin-top: 35px;
    font-size: 1.10rem;
    li {
        list-style-type: none;
    }
}

.skill {
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.skill-title {
    text-align: right;
}

.skill-level {
    &-1 {
        @include skill-percentage(20%,
        #55C768)
    }
    &-2 {
        @include skill-percentage(40%,
        #55C768)
    }
    &-3 {
        @include skill-percentage(60%,
        #55C768)
    }
    &-4 {
        @include skill-percentage(80%,
        #55C768)
    }
    &-5 {
        @include skill-percentage(100%,
        #55C768)
    }
}

// Tablet and higher resolution screens
@media(min-width: 768px) {
    .cover {
        background-image: url('../images/forward_bg_1.jpg');
    }
    .section-heading {
        text-align: left;
    }
    .section-quote {
        font-size: 1.5rem;
        font-style: italic;
        text-align: center;
        position: relative;
        .quote-source {
            right: 0;
            display: inline-block;
            text-align: center;
        }
    }
}

.quote {
    max-width: 800px;
    position: relative;
    padding: 5px 70px;
    font-size: 1.15rem;
    background: rgba(40, 40, 40, 0.2);
    margin: auto;
    border-radius: 15px; // font-style: italic;
    font-family: 'Alegreya', serif;
    &:before {
        opacity: 0.5;
        display: block;
        position: absolute;
        z-index: 0;
        content: '„';
        font-family: 'Rokkitt', 'Raleway', serif;
        font-size: 145px;
        color: $determinedpeace;
        line-height: 180px;
        top: -100px;
        left: 20px;
    }
    p {
        position: relative;
        z-index: 1;
        margin: 30px 0 10px 0;
    }
    .author {
        margin-top: 10px;
        font-weight: 300;
        font-style: italic;
        line-height: 28px;
        text-align: right;
    }
}