$talkingsleep: #1B2A31;
$tothelight: #1B384A;
$determinedpeace: #D1EEFE;
$reddy: #BF2D42;
$blackcurrentdance: #7D253E;
$skyblue: #98DEF5;
$seablue: #82B6FA;
$bottomline: #c92020;
$mediumblue: #798EE0;
$properlyattired: #636162;
$steamygrey: #CDD3E9;
$glrglr: #88C6C9;
$rain: #BEE2E7;
$windyday: #4F57AA;
$darkmotion: #454857;
$silverlining: #72818B;
$velvetpink: #8F002E;
$nana: #FEA976;
$amarello: #FEE170;
$cloudy: #ACBAF8;
$jorange: #FF7E72;
$plaindark: #282a36;
$marine:#1a2a6c ;
$crisom:#b21f1f;
$taxi:#fdbb2d;