header {
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    background-color: $totheligth;
    ul {
        text-align: center;
        padding: 15px 15px;
        margin: 0 auto;
        li {
            color: $determinedpeace;
            display: inline;
            padding: 15px 20px;
            a {
                text-decoration: none;
                color: $determinedpeace;
                &:hover,
                &:focus {
                    text-decoration: none;
                    color: $reddy;
                }
                &:active {
                    text-decoration: none;
                    color: lighten($reddy, 20%);
                }
            }
        }
    }
    #logo {
        color: $determinedpeace;
        padding: 15px;
        font-family: Roboto Condensed;
        text-align: center;
    }
}